{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load metron_tags %}
{% load i18n %}


{% block styles %}
{% include "_styles.html" %}
<link rel="stylesheet" href="{%static 'leaflet/leaflet.css'%}" type="text/css" />
<style>
    #map,html{
        width:100%;height:100%;
        min-height:400px;
    }
</style>
{% endblock %}

{% block extra_head_base %}
{% block extra_head %}

<script src="{%static 'js/angular.min.js'%}"></script>
<script src="{%static 'js/angular-route.min.js'%}"></script>
<script src="{%static 'js/angular-sanitize.min.js'%}"></script>
<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
<script src="{%static 'js/jquery-1.9.1.min.js'%}"></script>
<script src="{%static 'leaflet/leaflet.js'%}"></script>
<script src="{%static 'leaflet/leaflet.utfgrid.js'%}"></script>
<script src="{%static 'leaflet/TileLayer.GeoJSON.js'%}"></script>


<!--<script src="{%static 'js/analytic.js'%}"></script>-->


<script src="{%static 'leaflet/draw/Leaflet.draw.js'%}"></script>
<link rel="stylesheet" href="{%static 'leaflet/draw/leaflet.draw.css'%}" />

<script src="{%static 'leaflet/draw/Toolbar.js'%}"></script>
<script src="{%static 'leaflet/draw/Tooltip.js'%}"></script>

<script src="{%static 'leaflet/draw/ext/GeometryUtil.js'%}"></script>
<script src="{%static 'leaflet/draw/ext/LatLngUtil.js'%}"></script>
<script src="{%static 'leaflet/draw/ext/LineUtil.Intersect.js'%}"></script>
<script src="{%static 'leaflet/draw/ext/Polygon.Intersect.js'%}"></script>
<script src="{%static 'leaflet/draw/ext/Polyline.Intersect.js'%}"></script>


<script src="{%static 'leaflet/draw/draw/DrawToolbar.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Feature.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.SimpleShape.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Polyline.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Circle.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Marker.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Polygon.js'%}"></script>
<script src="{%static 'leaflet/draw/draw/handler/Draw.Rectangle.js'%}"></script>


<script src="{%static 'leaflet/draw/edit/EditToolbar.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/EditToolbar.Edit.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/EditToolbar.Delete.js'%}"></script>

<script src="{%static 'leaflet/draw/Control.Draw.js'%}"></script>

<script src="{%static 'leaflet/draw/edit/handler/Edit.Poly.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/Edit.SimpleShape.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/Edit.Circle.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/Edit.Rectangle.js'%}"></script>
<script src="{%static 'leaflet/draw/edit/handler/Edit.Marker.js'%}"></script>

<script src="{%static 'leaflet/terraformer.min.js'%}"></script>
<script src="{%static 'leaflet/terraformer-wkt-parser.min.js'%}"></script>




{% endblock %}
{% endblock %}
{% block topbar_base %}
<header>
    <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top{% endblock %}">
        <div class="container">
            {% block topbar %}
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars"></span>
                </button>
                {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{{ SITE_NAME }}</a>{% endblock %}
            </div>
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                {% block nav %}
                <ul class="nav navbar-nav pull-left">
                    <li><a href="{% url 'profiles_list' %}">People</a></li>
                    <li><a href="{% url 'team_list' %}">Teams</a></li>
                </ul>
                {% endblock %}
                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</header>
{% endblock %}

{% block footer %}
{% include "_footer.html" %}
{% endblock %}


{% block scripts %}
{% include "_scripts.html" %}
<script src="{%static 'bootbox/bootbox.min.js'%}"></script>
<script src="{%static 'js/ui-bootstrap-tpls-0.13.3.min.js'%}"></script>

<script src="{%static 'handsontable/moment/moment.js'%}"></script>
<script src="{%static 'handsontable/pikaday/pikaday.js'%}"></script>
<link rel="stylesheet" href="{%static 'handsontable/pikaday/pikaday.css'%}" />
<script src="{%static 'handsontable/zeroclipboard/ZeroClipboard.js'%}"></script>
<script src="{%static 'handsontable/handsontable.full.min.js'%}"></script>
<link rel="stylesheet" href="{%static 'handsontable/handsontable.full.min.css'%}" />
<script src="{%static 'handsontable/ngHandsontable.min.js'%}"></script>

{% endblock %}

{% block extra_body_base %}
{% analytics %}
{% block extra_body %}{% endblock %}
{% endblock %}
